<div class="content">
<div class="row">
<div class="col burger-list">
    <h1>Burgers Awaiting</h1>
    <ul>
        {{#each burgers}}
            {{#unless devoured}}
                <li>
                     {{name}}
                </li>
                    <button class="btn btn-danger update-burgers" data-id="{{id}}">Devour it!</button>
            {{/unless}}
        {{/each}}
    </ul>
</div>
<div class="col" style="text-align: center;">
    <div class="d-flex justify-content-center">
        <img src="/assets/img/burger-logo.png" alt="Restaurant app brand" width="300px"/>
    </div>
    <h4>Express, MySQL ,Handlebars and craft ORM'S</h4>
    <form class="create-burger">
        <div class="form-group">
            <input class="form-control form-control-lg new-burger" type="text" placeholder="Request Your Burger Here" name="name" id="new-burger" data-id="0" data-devoured="false" style="text-align: center; color:BLACK">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" style="background-color:#21739f; color: antiquewhite;" data-id="request-burger">Request Da</button>
        </div>
    </form>
</div>
<div class="col burger-list">
    <h1>Burgers Devoured</h1>
    <ul>
        {{#each burgers}}
            {{#if devoured}}
                <li>{{name}}</li>
            {{/if}}
        {{/each}}
    </ul>
</div>
</div>
<div class="row m-center p-auto" >
    <footer>
        
    </footer>
</div>

</div>
