* {
    margin: 2%;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

.burger-list {
    padding: 2%;
    background-color: #21739f;
    border-radius: 10%;
    color: antiquewhite;
}